/*Seperate ID for every section for more fun colors and stuff*/
#challenge {
    padding: 10px;
    margin-bottom: 10px;
    border: dotted 5px rgb(76, 64, 64);
    background-color: #BCF4DE;
}

#problems {
    padding: 10px;
    margin-bottom: 10px;
    border: dotted 5px rgb(76, 64, 64);
    background-color: #CDE5D7;
}


#results {
    padding: 10px;
    margin-bottom: 10px;
    border: dotted 5px rgb(76, 64, 64);
    background-color: #DED6D1;
}

#output {
    padding: 10px;
    margin-bottom: 10px;
    border: dotted 5px rgb(76, 64, 64);
    background-color: #EEC6CA;
}

#button-output {
    background-color: #ec8d9d;
}

#button-challenge {
    background-color: #57edb1;
}

#button-problems {
    background-color:  #82d1a4;
}

#button-results {
    background-color:  #f2c0a2;
}

#special {
    padding: 10px;
    margin-bottom: 5px;
    border: 20px dashed #2AB7CA;
    color: #FED766;
    background-color: #fe4a49;
    font-family:cursive;
    font-style:italic;
    font-variant-ligatures: historical-ligatures;
    font-weight: bolder;
    float: right;
    height: 250px;
}

#my-cat-and-me {
    width: 200px;
    border: 5px dotted;

}



