/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 15px;
    margin-bottom: 10px;
    border: dotted 8px #CE796B;
    background-color: #F0F7F4;
    color: #3C493F;
    
  }
  body {
    color: #F0F7F4;
    background-color: #CE796B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

    
  }
  h1 {
    color:#F0F7F4;
    letter-spacing: 2px;
    word-spacing: 5px;
    font-size: 300%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 250%;

   
    }
    #content {
      background-color: #3C493F;
      font-family:'Courier New', Courier, monospace;
      font-style: italic;
      text-indent: 5%;
      padding: 10px;
      margin: 10px;
      border: dashed 10px #3A606E;
      
    }
      
  
    
  
  
   